{% extends "trueHome.html" %}

{% block title %}
yay
{% endblock %}

{% block body %}

<h1>hi</h1>

      <table>
         <thead>
            <tr>
               {% for item in check %}
               <th>{{ item.pizza_name }}</th>
               
               {% endfor %} 
            </tr>
            <th>{{ total }}</th>
         </thead>
         
         <tbody>
         </table>
      </form>
   <header>
       <div class="button">
         <a title="Log Out" href="logout">Log Out</a>
       </button>
   </header>


      
{% endblock %}