{% extends "trueHome.html" %}

{% block title %}
Checkout
{% endblock %}

{% block body %}

<h1>Cart</h1>

<table>
   <tr>
      <th>
         <h2>Pizzas
      </th>
      </h2>
      <th>price</th>
   </tr>
   {% for item in check %}
   <tr>
      <th> {{item.pizza_name}}</th>
      <th> ${{item.pizza_price}} </th>
   </tr>
   {% endfor %}
</table>

<h3>${{ total }} NZD</h3>


<div class="middle">
   <div class="button">
      <a title="menu" href="menu">Go back</a>
   </div>
</div>

<br> </br>

<div class="middle">
   <div class="button">
      <a title="orderplaced" href="orderplaced">Place your order!</a>
   </div>
</div>
<br></br>
<p></p>

{% endblock %}