{% extends "trueHome.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

     <h1>
        hello, make a pizza order here</h1>

    <div class="middle">
        <form action="/user" method="post" required>
        <input placeholder="Enter Username" type="text" name="username" maxlength="25" required > 
        <input placeholder="Enter Password" type="password" name="password" maxlength="50"  required > 
        <input type="submit" value="login">
        </form>
        <p>if you don't have an account, don't worry!
            this page doubles as a register page as well!
        </p>
        <br></br>
    </div>
    
{% endblock %}
