html{
    background-color: #ffeeee;
    max-width: 95%;
    font-family: Verdana,sans-serif;
    
}

h1{
    text-align: center;
    font-size: 5vh;

}
div.middle{
    text-align: center;
}

body{
    /* border: 1px solid black; */
    box-shadow: 1vh 1vh 6vh 1vh #aaaaaa;
    border-radius: 25px;    
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
    width: 69%;
    padding-right: 10px;
    padding-top: 1px;
    padding-left:  10px;
    background-color: #ffffff;

}

img {
    max-width:250px;
    max-height:250px;
  }




.wrapper{
	margin:0 auto;
	max-width:85%;
    background-color: aqua;


}

.container {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 10px 30px;
    margin: 10px;
    align-self: baseline;
    flex-direction: row;
    justify-content: space-around;  
}
  

.box {
    border: 1px rgb(255, 255, 255) solid;
    padding: 2vh;
    background-color: rgb(216, 236, 205);
    box-sizing: inherit;
    max-width: 269px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;

    align-content: flex-end;
    flex-direction: column;
}


